{
   "deviceTemplateList":[
{% for template,devicelist in  DeviceTemplateList.iteritems()  %}
      {
          "templateId": "{{ template if template not in device_template_db else device_template_db[template]  }}",
          "device": {{ devicelist | to_json }},
          "isEdited": {{ Change | default('false')}},
          "isMasterEdited":false
      },
{% endfor %}
   ]
}